<section class="container">
  <div class="section">
    <div *ngIf="userInfo()">
      <h1>{{userInfo().firstName}} {{userInfo().lastName}}</h1>

      <mat-tab-group
        [selectedIndex]="selectedTab"
        (selectedIndexChange)="setTab($event)"
      >
        <mat-tab label="История записей">
            <table mat-table [dataSource]="orders" class="mat-elevation-z8">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Дата</th>
                <td mat-cell *matCellDef="let element">{{element.date | date:"dd.MM.yyyy" }}</td>
              </ng-container>

              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef>Время</th>
                <td mat-cell *matCellDef="let element">{{element.time}}</td>
              </ng-container>

              <ng-container matColumnDef="doctor">
                  <th mat-header-cell *matHeaderCellDef>Врач</th>
                  <td mat-cell *matCellDef="let element">{{element.last_name}} {{element.first_name[0]}}.{{element.middle_name[0]}}.</td>
                </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Статус</th>
                <td mat-cell *matCellDef="let element">{{element.status}}</td>
              </ng-container>

              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Адрес</th>
                <td mat-cell *matCellDef="let element">{{element.address}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
