<mat-card
  fxLayout="column"
  fxLayoutAlign="center"
  class="mat-card_type_main"
>
  <div class="container">
    <h1 class="mat-display-1">SuperMed</h1>
    <h2>
      Инновационная сеть клиник, работающая на рынке медицинских услуг Нижнего Новгорода с 2018 года
    </h2>
    <p>
      <a href="#appointment-form" mat-raised-button color="accent">Записаться на приём</a>
    </p>
  </div>
</mat-card>

<section
  class="container"
  id="appointment-form"
>
  <div class="section">
    <h1>Запись на приём</h1>
    <p>Для того, чтобы записаться на приём к интересующему вас специалисту выберите направление, филиал медицинского учреждения или непосредственно специалиста</p>

    <mat-card *ngIf="!isLogged()">
      <mat-card-content>
        <h2>Необходима регистрация</h2>
        Используйте кнопки ниже для того, чтобы зарегистрироваться или войти в систему. Это важно, поскольку нам нужно подтвердить вашу личность и проверить, действительно хотите воспользоваться нашими услугами.
      </mat-card-content>
      <mat-card-actions>
        <a
          routerLink="auth"
          mat-raised-button
          color="primary"
        >Зарегистрироваться</a>

        <a
          routerLink="auth"
          mat-button
          color="primary"
        >Войти</a>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

<div class="container">
  <section class="section">
    <h1>Специалиста в какой области вы ищите?</h1>
    <p>Просто выберите специальность и мы вам покажем всех врачей данного профиля и филиалы учреждений, где они принимают:</p>

    <p>
      <mat-chip-list>
        <mat-chip
          *ngFor="let speciality of specialities"
          [selected]="selectedSpeciality === speciality.id"
          (click)="toggleSpeciality(speciality.id)"
        >
          {{speciality.name}}
        </mat-chip>
      </mat-chip-list>
    </p>

    <span *ngIf="selectedSpeciality">
      <p>
        Если вам нужно получить базовую консультацию, наши специалисты готовы помочь вам в режиме онлайн: кратко рассказать о том, что делать дальше и определиться с очной консультацией. Обратите внимание: <b>для постановки диагноза и назначения плана лечения следует записаться на очный прием к специалисту.</b>
      </p>
      <p>
        Чтобы проконсультироваться онлайн по вашему вопросу с любым врачом выбранной специальности, нажмите на кнопку ниже или выберите конкретного врача и общем списке специалистов (справа).
      </p>
      <p>
        <button
          mat-raised-button
          color="primary"
          class="mat-button_action_select"
          (click)="openConsultationForm(selectedSpeciality)"
        >
          Проконсультироваться онлайн (любой врач)
        </button>
      </p>
    </span>
  </section>
</div>

<div class="container">
  <section class="section" id="appointment-form">
    <div
      fxLayout="row"
      fxLayoutGap="1rem"
      class="centers-and-staff"
    >
      <div>
        <h2>
          <span
            [matBadge]="clinics.length"
            matBadgeOverlap="false"
          >
            Все наши филиалы
          </span>
        </h2>
        <div *ngFor="let clinic of clinics">
          <mat-card>
            <mat-card-title>{{clinic.address}}</mat-card-title>
            <mat-card-subtitle>{{clinic.name}}</mat-card-subtitle>
            <mat-card-content>
              <p
                fxLayout="row"
                fxLayoutAlign="center"
              >
                <button
                  fxFlexFill
                  mat-stroked-button
                  [color]="selectedClinic === clinic.id ? 'warn' : 'primary'"
                  class="mat-button_action_select"
                  (click)="toggleClinic(clinic.id)"
                  [disabled]="!clinic.doctors.length"
                >
                  {{selectedClinic === clinic.id ? 'Скрыть врачей только из данной клиники' : 'Принимают ' + clinic.doctors.length + ' специалистов'}}
                </button>
              </p>
            </mat-card-content>
          </mat-card>
          <br>
        </div>
      </div>

      <div>
        <h2>
          <span
            [matBadge]="visibleDoctors.length"
            matBadgeOverlap="false"
          >
            {{selectedDoctorsHeader()}}
          </span>
        </h2>

        <p
          *ngIf="filtersApplied()"
          fxLayout="row"
          fxLayoutAlign="center"
        >
          <button
            fxFlexFill
            mat-stroked-button
            color="primary"
            (click)="showAllDoctors()"
          >
            Показать всех врачей
          </button>
        </p>

        <mat-card *ngIf="visibleDoctors.length === 0">
          В данном филиале пока не принимает ни один врач.
        </mat-card>

        <div *ngFor="let doctor of visibleDoctors">
          <ng-container *ngIf="!selectedSpeciality || doctor.speciality_id === selectedSpeciality">
            <mat-card>
              <mat-card-title>
                {{doctor.last_name}}
                {{doctor.first_name}}
                {{doctor.middle_name}}
              </mat-card-title>
              <mat-card-subtitle>{{doctor.speciality}}</mat-card-subtitle>

              <mat-card-content>
                <p>{{doctor.information}}</p>
                <p>
                  Стаж: {{doctor.experience}} лет
                  <span
                    *ngFor="let clinicId of doctor.clinics"
                  >
                    •
                    <a (click)="toggleClinic(getClinicById(clinicId).id)">
                      {{getClinicById(clinicId).name}}
                    </a>
                  </span>
                </p>

                <p *ngIf="!doctor.clinics.length">Врач не будет принимать в ближайшее время или всё уже занято. Попробуйте онлайн-консультацию!</p>

                <div fxLayout="row" fxLayoutGap="1em">
                  <button
                    mat-raised-button
                    color="accent"
                    class="mat-button_action_select"
                    (click)="openAppointmentForm(doctor)"
                    [disabled]="!doctor.clinics.length"
                  >
                    Записаться на приём
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    class="mat-button_action_select"
                    (click)="openConsultationForm(doctor.speciality_id, doctor)"
                  >
                    Онлайн-консультация
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
            <br>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</div>
